<a href="https://colab.research.google.com/github/anvy87/testing/blob/master/yahoo_ticker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/85/56/5e26c150517acbdce8e31d3e6169530e102a0575f5eb1a4310753e53a424/yfinance-0.1.50.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.25.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.17.4)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2019.9.11)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.50-py2.py3-none-any.whl size=21556 sha256=9732741081e061b956443e3b87315ecea2ad60d27077dcc6c508c302047f2b30
  Stored in directory: /root/.cache/pip/wheels/19/2a/e6/b4d4cc977576e18220a36866acf2f2cf7241f16af5f8795b17
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.50

In [0]:
import yfinance as yf

In [0]:
import matplotlib.pyplot as plt

In [0]:
msft = yf.Ticker("MSFT")

In [9]:
print(msft)

yfinance.Ticker object <MSFT>

In [12]:
msft.history(period='1mo')

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2019-10-23  136.42  136.98  135.15  136.77  29844600       0.00             0
2019-10-24  138.92  139.94  138.20  139.47  37029300       0.00             0
2019-10-25  138.87  140.66  138.73  140.25  25959700       0.00             0
2019-10-28  143.91  145.18  143.02  143.70  35280100       0.00             0
2019-10-29  143.59  144.01  142.17  142.35  20589500       0.00             0
2019-10-30  143.03  144.51  142.31  144.12  18496600       0.00             0
2019-10-31  144.41  144.44  142.51  142.88  24605100       0.00             0
2019-11-01  143.77  143.93  142.49  143.23  33128400       0.00             0
2019-11-04  144.34  144.51  143.67  144.06  16912000       0.00             0
2019-11-05  144.48  144.53  143.42  143.97  18250200       0.00             0
2019-11-06  143.88  144.03  142.71  143.57  16575800       0.00             0
2019-11-07  143.35  144.39  143.28  143.77  17786700       0.00             0
2019-11-08  143.49  145.49  143.27  145.47  16732700       0.00             0
2019-11-11  144.85  145.92  144.24  145.61  14362600       0.00             0
2019-11-12  145.78  147.07  145.56  146.57  18641600       0.00             0
2019-11-13  146.24  146.96  145.78  146.81  16919200       0.00             0
2019-11-14  146.52  147.91  146.50  147.56  19729800       0.00             0
2019-11-15  148.42  149.48  147.77  149.46  23485700       0.00             0
2019-11-18  149.56  150.04  148.47  149.83  21534000       0.00             0
2019-11-19  150.37  150.82  149.69  149.88  23935700       0.00             0
2019-11-20  150.31  150.84  148.46  149.62  25696800       0.51             0
2019-11-21  149.40  149.80  148.50  149.48  18568900       0.00             0

In [0]:
tcs = yf.Ticker("TCS")

In [14]:
tcs.history(period='1mo')

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2019-10-23  4.82  5.02  4.80   4.99   221000          0             0
2019-10-24  5.00  5.00  4.84   4.91   221400          0             0
2019-10-25  4.87  5.03  4.82   4.95   181600          0             0
2019-10-28  4.97  5.15  4.89   4.92   198000          0             0
2019-10-29  4.90  5.14  4.80   5.05   559600          0             0
2019-10-30  4.75  4.87  3.94   3.97  1667100          0             0
2019-10-31  3.95  4.32  3.89   4.22   554500          0             0
2019-11-01  4.23  4.39  4.18   4.26   219700          0             0
2019-11-04  4.32  4.40  4.08   4.10   387200          0             0
2019-11-05  4.13  4.39  4.03   4.05   323100          0             0
2019-11-06  4.03  4.06  3.85   4.02   465700          0             0
2019-11-07  4.05  4.14  3.95   3.96   309300          0             0
2019-11-08  3.96  3.96  3.83   3.94   373500          0             0
2019-11-11  3.94  3.99  3.68   3.85   419400          0             0
2019-11-12  3.83  3.85  3.65   3.66   282600          0             0
2019-11-13  3.72  3.80  3.58   3.78   425000          0             0
2019-11-14  3.79  3.85  3.75   3.81   319400          0             0
2019-11-15  3.84  3.84  3.68   3.78   282700          0             0
2019-11-18  3.77  3.84  3.72   3.81   142300          0             0
2019-11-19  3.80  3.81  3.57   3.74   435600          0             0
2019-11-20  3.70  3.76  3.62   3.73   269300          0             0
2019-11-21  3.72  3.82  3.68   3.78   250400          0             0

In [35]:
tcs = yf.download('TCS')

[*********************100%***********************]  1 of 1 completed

In [37]:
tcs.head(5)

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-11-01  35.000000  37.000000  32.099998  36.200001  36.200001  14667600
2013-11-04  36.799999  36.799999  34.689999  35.349998  35.349998   1586600
2013-11-05  35.110001  35.500000  34.820000  35.349998  35.349998    337700
2013-11-06  35.610001  36.490002  35.610001  35.900002  35.900002    549600
2013-11-07  36.799999  36.799999  34.119999  35.310001  35.310001    883700

In [38]:
tcs.Close.plt()

AttributeError: ignored

In [0]:
infy = yf.Ticker("INFY.NS")

In [26]:
infy.history(period="5y", interval="1d")

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2014-11-24  391.48  399.09  390.73  398.48  11047440        0.0           0.0
2014-11-25  400.34  402.66  395.77  401.10  14886576        0.0           0.0
2014-11-26  400.80  402.45  398.15  400.84   7930800        0.0           0.0
2014-11-27  402.84  407.92  401.92  406.94  17389032        0.0           0.0
2014-11-28  407.34  409.94  404.85  406.38  14347264        0.0           0.0
...            ...     ...     ...     ...       ...        ...           ...
2019-11-18  705.00  710.00  699.30  705.20   7490916        0.0           0.0
2019-11-19  709.90  714.00  705.00  712.85   6495885        0.0           0.0
2019-11-20  712.80  715.00  705.00  713.00   6142171        0.0           0.0
2019-11-21  715.50  721.45  710.50  713.25   9692961        0.0           0.0
2019-11-22  711.75  712.00  685.10  692.40  11217606        0.0           0.0

[1228 rows x 7 columns]

In [39]:
infy.head(5)

AttributeError: ignored